<!doctype html>
<html>
<head>
    <title>Skull Parallax Site</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <header>
        <a href="/" class="logo">MoonLight</a>
        <ul>
            <li><a href="/" class="active">Inicio</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Contacte</a></li>
            <li><a href="#">Equipa</a></li>
        </ul>
    </header>
    <section>
        <% if (message) { %>
        <h3 class="message"><%= message %></h3>
        <% } %>
        <img src="estrelas.png" id="estrela" />
        <img src="lua.png" id="lua" />
        <img src="backend.png" id="back" />
        <h2 id="texto">Moonlight</h2>
        <a href="https://github.com/SkullRa1n/" id="btn">GitHub</a>
        <img src="frontend.png" id="front" />
    </section>
    <div class="sec" id="sec">
      <h2>Gênesis 1</h2>
      <p>1 No princípio Deus criou os céus e a terra.<br><br>

2 Era a terra sem forma e vazia; trevas co­briam a face do abismo, e o Espírito de Deus se movia sobre a face das águas.<br><br>

3 Disse Deus: "Haja luz", e houve luz.<br><br>

4 Deus viu que a luz era boa, e separou a luz das trevas.<br><br>

5 Deus chamou à luz dia, e às trevas cha­mou noite. Passaram-se a tarde ­e a manhã; esse foi o primeiro dia.<br><br>

6 Depois disse Deus: "Haja entre as águas um firmamento que separe águas de águas".<br><br>

7 En­tão Deus fez o firmamento e separou as águas que ficaram abaixo do firmamento das que ficaram por cima. E assim foi.<br><br>

8 Ao firma­mento, Deus chamou céu. Passaram-se a tarde e a manhã; esse foi o segundo dia.<br><br>

9 E disse Deus: "Ajuntem-se num só lugar as águas que estão debaixo do céu, e apareça a parte seca". E assim foi.<br><br>

10 À parte seca De­us chamou terra, e cha­mou mares ao conjunto das águas. E Deus viu que ficou bom.<br><br>

11 Então disse Deus: "Cubra-se a terra de vegetação: plantas que deem sementes e árvores cujos frutos produzam sementes de acor­do com as suas espé­cies". E assim foi.<br><br>

12 A terra fez bro­tar a vegetação: plantas que dão sementes de acordo com as suas espé­cies, e árvores cujos frutos produzem sementes de acordo com as suas espécies. E Deus viu que ficou bom.<br><br>

13 Passaram-se­ a tarde e a manhã; esse foi o ter­ceiro dia.<br><br>

14 Disse Deus: "Haja luminares no firma­mento do céu para separar o dia da noite. Sir­vam eles de sinais para marcar estações, dias e anos,<br><br>

15 e sirvam de lu­minares no firmamento do céu para ilu­minar a terra". E assim foi.<br><br>

16 Deus fez os dois gran­des lumi­nares: o maior para go­vernar o dia e o menor para gover­nar a noite; fez também as estrelas.<br><br>

17 Deus os colo­cou no firmamento do céu para iluminar a terra,<br><br>

18 governa­r o dia e a noite, e separar a luz das tre­vas. E Deus viu que ficou bom.<br><br>

19 Passaram-se a tarde e a manhã; esse foi o quarto dia.<br><br>

20 Disse também Deus: "Encham-se as águas de seres vivos, e voem as aves sobre a terra, sob o firmamento do céu".<br><br>

21 Assim Deus criou os gran­des animais aquáti­cos e os demais seres vivos que povoam as á­guas, de acor­do com as suas espécies; e todas as aves, de acordo com as suas espécies. E Deus viu que ficou bom.<br><br>

22 En­tão De­us os abençoou, dizendo: "Sejam férteis e multipliquem-se! Encham as águas dos mares! E multipli­quem-se as aves na terra".<br><br>

23 Passaram-se a tarde e a manhã; esse foi o quinto dia.<br><br>

24 E disse Deus: "Produza a terra seres vivos de acordo com as suas espécies: rebanhos domésticos, ani­mais selvagens e os demais seres vivos da terra, cada um de acor­do com a sua espécie". E assim foi.<br><br>

25 Deus fez os animais sel­vagens de acordo com as suas espé­cies, os reba­nhos domésticos de acor­do com as suas espécies, e os demais seres vivos da terra de acordo com as suas espécies. E Deus viu que ficou bom.<br><br>

26 Então disse Deus: "Façamos o homem à nossa imagem, con­for­me a nossa semelhança. Domine ele sobre os peixes do mar, sobre as aves do céu, sobre os grandes animais de toda a terra e sobre todos os pequenos animais ­que se movem rente ao chão".<br><br>

27 Criou Deus o homem à sua imagem,
à imagem de Deus o criou;
homem e mulher os criou.<br><br>

28 Deus os abençoou e lhes disse: "Sejam férteis e multipliquem-se! Encham e subjuguem a terra! Dominem sobre os peixes do mar, sobre as aves do céu e sobre todos os animais que se movem pela terra".<br><br>

29 Disse Deus: "Eis que dou a vocês todas as plantas que nascem em toda a terra e produzem sementes, e todas as árvores que dão frutos com se­mentes. Elas servirão de alimento para vocês.<br><br>

30 E dou todos os vegetais como alimento a tudo o que tem em si fôlego de vida: a todos os gran­des animais da terra­, a todas as aves do céu e a todas as criaturas que ­se movem rente ao chão". E assim foi.<br><br>

31 E Deus viu tudo o que havia feito, e tudo havia ficado muito bom. Passaram-se a tarde e a ma­nhã; esse foi o sexto dia.</p>
  </div>
  <script>
    let lua = document.getElementById('lua');
    let back = document.getElementById('back');
    let estrelas = document.getElementById('estrela');
    let btn = document.getElementById('btn');
    let texto = document.getElementById('texto');
    let front = document.getElementById('front');
    let header = document.querySelector('header');

    window.addEventListener('scroll', function(){
      let value = window.scrollY;
      estrelas.style.left = value * 0.25 + 'px';
      lua.style.top = value * 0.65 + 'px';
      back.style.top = value * 0.7 + 'px';
      front.style.top = value * 0.4 + 'px';
      texto.style.marginRight = value * 4 + 'px';
      texto.style.marginTop = value * 1.5 + 'px';
      btn.style.marginTop = value * 1.5 + 'px';
      header.style.marginTop = value * 0.5 + 'px';
    })
  </script>
</body>
</html>